<header class="header">
  <div class="page-header">
    <div class="page-header-img-container">
      <div class="image">
        <div class="image-caption">
          Jérôme Leontidis
        </div>
      </div>
    </div>  
  </div>
  <nav class="navigation navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavigationBar" aria-controls="mainNavigationBar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="nav justify-content-center">
        <li class="nav-item"> <a href="#" class="nav-link"> <i class="fa fa-home"></i> <br>  Home</a></li>
        <li class="nav-item active"><a href="#" class="nav-link"><i class="fa fa-briefcase"></i> <br> Projects</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-user"></i> <br> About Me</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-envelope"></i> <br> Contact</a></li>
      </ul>
    </div>
  </nav>  
  <div class="navigation-footer"></div>
</header>
<section class="main-content">
    <div class="breadcrumb">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1>[ <span class="breadcrumb-text">Projects</span> ]</h1>
              <p>Etiam eget orci magna. Duis eget leo nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque est eu est sodales, at commodo lacus sodales. Sed nec adipiscing mauris, nec scelerisque lacus.</p>
            </div>
          </div>
        </div>
      </div>
  <!-- <div class="breadcrumb">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>[ <span class="breadcrumb-text">Home</span> ]</h1>
            <p>Etiam eget orci magna. Duis eget leo nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque est eu est sodales, at commodo lacus sodales. Sed nec adipiscing mauris, nec scelerisque lacus.</p>
          </div>
        </div>
      </div>
    </div>
  <div class="main-content-container">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img src="../assets/img/portrait.jpg" alt="Portrait" class="img-thumbnail">
          <table class="table table-responsive personal-info">
            <tr>
              <td>Full Name</td>
              <td>Jérôme Leontidis</td>
            </tr>
            <tr>
              <td>Lives in</td>
              <td>Bellach, Switzerland</td>
            </tr>
          </table>
        </div>
        <div class="col-md-9">
          <ul class="nav nav-tabs personal-info-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" role="tab" id="home-tab" href="#home"><i class="fa fa-star"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" role="tab" id="profile-tab" href="#profile"><i class="fa fa-list"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" role="tab" id="work-tab" href="#work"><i class="fa fa-fast-forward"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" role="tab" id="misc-tab" href="#misc"><i class="fa fa-bar-chart"></i></a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Welcome Home</div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Profile Page</div>
            <div class="tab-pane fade" id="work" role="tabpanel" aria-labelledby="work-tab">Work Page</div>
            <div class="tab-pane fade" id="misc" role="tabpanel" aria-labelledby="misc-tab">Misc Page</div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="projects">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-md-6 col-lg-4">
          <div class="card">
              <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 280px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22356%22%20height%3D%22280%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20356%20280%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15e95429ee1%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A18pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15e95429ee1%22%3E%3Crect%20width%3D%22356%22%20height%3D%22280%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22131.23333358764648%22%20y%3D%22148.4%22%3E356x280%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
      </div>
      <div class="col-12 col-sm-8 col-md-6 col-lg-4">
          <div class="card">
              <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 280px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22356%22%20height%3D%22280%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20356%20280%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15e95429ee1%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A18pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15e95429ee1%22%3E%3Crect%20width%3D%22356%22%20height%3D%22280%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22131.23333358764648%22%20y%3D%22148.4%22%3E356x280%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
      </div>
    </div>
  </div>
</div>
</section>
<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <blockquote class="blockquote">
              <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            </blockquote>
        </div>
      </div>
    </div>

  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav justify-content-center social-icons">
              <li class="nav-item">
                <a class="nav-link active" href="#"><i class="fa fa-facebook-f"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-instagram"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-pinterest"></i></a>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </div>

</footer>